In [ ]:
import pandas as pd
import numpy as np

In [ ]:
super_market = pd.read_csv(r"C:\Users\USER\Music\New folder\SUPERMARKET.csv")

In [ ]:
super_market.head()

In [ ]:
    super_market.info()

In [7]:
super_market.isna().sum()
super_market.duplicated().sum()

0

In [ ]:
super_market['Time']=pd.to_datetime(super_market['Time']).dt.time
super_market['Date']=pd.to_datetime(super_market['Date'])

In [35]:
super_market['Month'] = super_market['Date'].dt.month_name()
super_market['Day'] = super_market['Date'].dt.day_name()

In [17]:
print(super_market.dtypes)

Invoice ID                         object
Branch                             object
City                               object
Customer type                      object
Gender                             object
Product line                       object
Unit price                        float64
Quantity                          float64
Tax 5%                            float64
Sales                             float64
Date                       datetime64[ns]
Time                               object
Payment                            object
cogs                              float64
gross margin percentage           float64
gross income                      float64
Rating                            float64
dtype: object

In [21]:
#What drives the most sales
gender_based_sales = super_market.groupby('Gender')['Sales'].agg(['count','sum','mean']).sort_values(by='sum', ascending = False)
print(gender_based_sales)

        count         sum        mean
Gender
Female    571  194671.908  340.931538
Male      429  128294.958  299.055846

In [23]:
product_line = super_market.groupby('Product line')['Sales'].sum().sort_values(ascending= False)
print(product_line)

Product line
Food and beverages        56144.862
Sports and travel         55122.846
Electronic accessories    54337.551
Fashion accessories       54305.915
Home and lifestyle        53861.929
Health and beauty         49193.763
Name: Sales, dtype: float64

In [25]:
city_base = super_market.groupby('City')['Sales'].sum().sort_values(ascending= False)
print(city_base)

City
Naypyitaw    110568.748
Yangon       106200.409
Mandalay     106197.709
Name: Sales, dtype: float64

In [29]:
customer_type_based = super_market.groupby('Customer type')['Sales'].sum().sort_values(ascending= False)
print(customer_type_based)

Customer type
Member    189694.834
Normal    133272.032
Name: Sales, dtype: float64

In [31]:
payment_method = super_market.groupby('Payment')['Sales'].count().sort_values(ascending= False)
print(payment_method)

Payment
Ewallet        345
Cash           344
Credit card    311
Name: Sales, dtype: int64

In [37]:
month_based = super_market.groupby('Month')['Sales'].sum().sort_values(ascending= False)
print(month_based)

Month
January     116291.912
March       109455.543
February     97219.411
Name: Sales, dtype: float64

In [39]:
#Underperformers
bottom_cities = super_market.groupby('City')['Sales'].sum().sort_values(ascending= True).head(1)
bottom_product_lines = super_market.groupby('Product line')['Sales'].sum().sort_values(ascending= True).head(2)
bottom_days = super_market.groupby('Day')['Sales'].mean().sort_values(ascending= True).head(2)
print(bottom_cities)
print("------------------")
print(bottom_product_lines)
print("------------------")
print(bottom_days)

City
Mandalay    106197.709
Name: Sales, dtype: float64
------------------
Product line
Health and beauty     49193.763
Home and lifestyle    53861.929
Name: Sales, dtype: float64
------------------
Day
Monday       303.192768
Wednesday    305.812238
Name: Sales, dtype: float64

In [41]:
#Branch representative analysis
branch_rep_perf = super_market.groupby('Branch').agg({'Sales':'sum','Rating':'mean'}).sort_values(by ='Sales',ascending= False)
branch_rep_perf.rename(columns={'Sales':'Total_Sales','Rating':'Average_Rating'},inplace=True)
print(branch_rep_perf)

        Total_Sales  Average_Rating
Branch
Giza     110568.748        7.072866
Alex     106200.409        7.027059
Cairo    106197.709        6.818072

In [43]:
print("\nPossible reasons for monthly variations:")
monthly_stats = super_market.groupby('Month').agg({'Quantity': 'sum', 'Unit price': 'mean', 'gross income': 'sum'})
print(monthly_stats)

Possible reasons for monthly variations:
          Quantity  Unit price  gross income
Month
February    1654.0   56.632079      4629.494
January     1965.0   56.119006      5537.708
March       1891.0   54.373101      5212.167

In [57]:
corr_matrix = super_market[['Quantity','Unit price','Sales', 'gross income']].corr()
print(corr_matrix.round(2))

              Quantity  Unit price  Sales  gross income
Quantity          1.00        0.01   0.71          0.71
Unit price        0.01        1.00   0.63          0.63
Sales             0.71        0.63   1.00          1.00
gross income      0.71        0.63   1.00          1.00

In [73]:
#Gender/customer type behavior difference
print(customer_type_based)
gender_based = super_market.groupby('Gender')['Sales'].sum().sort_values(ascending = False)
print( gender_based)

Customer type
Member    189694.834
Normal    133272.032
Name: Sales, dtype: float64
Gender
Female    194671.908
Male      128294.958
Name: Sales, dtype: float64

In [77]:
print(super_market.value_counts(['Customer type','Gender']))

Customer type  Gender
Member         Female    356
Normal         Male      220
               Female    215
Member         Male      209
Name: count, dtype: int64

In [81]:
# Month with highest/lowest sales and why?
month_based = super_market.groupby('Month')['Sales'].agg(['sum','mean']).sort_values(by = 'sum',ascending = False)
print(month_based)

                 sum        mean
Month
January   116291.912  330.374750
March     109455.543  317.262443
February   97219.411  320.856142

In [87]:
reasons = super_market.groupby('Month').agg({'Invoice ID':'count','Unit price':'mean','Quantity':'sum'}).sort_values(by = 'Quantity',ascending = False)
print(reasons)

          Invoice ID  Unit price  Quantity
Month
January          352   56.119006    1965.0
March            345   54.373101    1891.0
February         303   56.632079    1654.0

In [93]:
monthly_customera = super_market.groupby(['Month','Customer type'])['Sales'].sum()
print(monthly_customera)

Month     Customer type
February  Member           58877.775
          Normal           38341.636
January   Member           65664.685
          Normal           50627.227
March     Member           65152.374
          Normal           44303.169
Name: Sales, dtype: float64

In [115]:
monthly_products = super_market.groupby(['Month','Product line'])['Sales'].sum().reset_index()sort_values('Sales',ascending = False)
print(monthly_products)

       Month            Product line      Sales
11   January       Sports and travel  21667.029
16     March      Home and lifestyle  20932.794
10   January      Home and lifestyle  20494.747
2   February      Food and beverages  20000.364
17     March       Sports and travel  19646.198
8    January      Food and beverages  19570.536
7    January     Fashion accessories  19345.124
1   February     Fashion accessories  19009.868
6    January  Electronic accessories  18831.294
15     March       Health and beauty  18208.320
12     March  Electronic accessories  18143.346
0   February  Electronic accessories  17362.911
14     March      Food and beverages  16573.962
9    January       Health and beauty  16383.182
13     March     Fashion accessories  15950.923
3   February       Health and beauty  14602.261
5   February       Sports and travel  13809.619
4   February      Home and lifestyle  12434.388